/*.progress.eventx{
	height: 5px;
}
*/
/*.progress-bar.progress-bar-success:before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  background: red;
  border-radius: 50%;
  border: 2px solid;
  box-shadow: 0 0 3px red;
  position: absolute;
  top: -5px;
}*/
/*
.progress-eventx {
  width: 85%;
  max-width: 720px;
  height: 6px;
  padding: 6px 9px;
  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}*/

.progress-eventx{
  padding: 20px 0;
  width: 70%;
  margin: 0 auto;

}

.progress-eventx-inner {
  height: 100%;
  width: 100%;
  position: relative;
}

/*.progress-bg {
  height: 6px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}*/

 .progress-remain {
  height: 6px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  margin-bottom: 3px;
  background-color: #999;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -ms-transition: width 1s;
  transition: width 1s;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}


.progress-stops {
  font-size: 16px;
  color: #000;
  top: 4px;
  height: 100%;
  width: 100%;
  z-index: 3;
  position: absolute;
}



 .progress-stops .stop.active-stop {
  height: 32px;
  width: 32px;
  font-size: 16px;
  margin-top: -19px;
  margin-left: -19px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  border: 2px solid;

}

.active-stop.stop {
  background-color: #eb4924 !important;
  color: #fff;
  -webkit-box-shadow: 0 0px 5px 0px #212121;
  box-shadow: 0 0px 5px 0px #212121;
}


.progress-stops .stop {
  padding: 2px;
  margin-top: -2px;
  margin-left: -2px;
  position: absolute;
  top: 50%;
  background-color: #f1f1f1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}